<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" ng-app="PlaneBox"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" ng-app="PlaneBox"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Plane Box</title>

    <script src="https://use.typekit.net/vry0hwc.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" media="screen" />

    <script src="assets/vendor/geolocator.js"></script>
    <script src="assets/vendor/angular-1.4.7.min.js"></script>
    <script type="text/javascript">
        var PlaneBox = angular.module('PlaneBox', []);
        window.data = {};
        window.data.geoData = '';
    </script>
</head>

<body class="page-login">


<header class="app-header">
    <div class="max-container">
        <a href="/" class="logo">
            <img src="assets/images/logo.png" alt="logo" />
        </a>
        <h1>Login</h1>
    </div>
</header>


<div ng-controller="loginController" class="max-container login-container">
	<form name="Form" class="form" ng-submit="submitLogin()" ng-model="frmLogin" novalidate><!--don't let HTML validate. We'll take care of that.-->
		<div>
			<label for="username">Email</label>
			<input type="email" name="username" id="username" ng-model="emailLogin" class="formControl" required autofocus />
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" ng-model="passwordLogin" class="formControl" required />
		</div>
		<div class="formAction">
			<button class="btn orange" ng-disabled="frmLogin.$invalid">Login</button>
        </div>
        <div class="buttons-bottom">
            <a class="btn orange" href="forgot-password.html">Reset Password</a>
			<a class="btn orange" href="new-profile.html">Create Profile</a>
		</div>
	</form>
</div>

	        <footer>

	        </footer>

	    <!--<script src="assets/vendor/jquery-2.1.min.js"></script>-->
	    <script src="assets/js/main.js"></script>
    </body>
</html>

