<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" ng-app="PlaneBox"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" ng-app="PlaneBox"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Plane Box</title>

    <script src="https://use.typekit.net/vry0hwc.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" media="screen" />

    <script src="assets/vendor/geolocator.js"></script>
    <script src="assets/vendor/angular-1.4.7.min.js"></script>
    <script type="text/javascript">
        var PlaneBox = angular.module('PlaneBox', []);
        window.data = {};
        window.data.apiURL = 'http://api-planebox.fredlawl.com';
        window.data.geoData = '';
    </script>
</head>

<body class="landing-home">




<div ng-controller="GameController as game" class="full-height" >
	<header class="app-header">
	    <div class="max-container">
	        <a href="/" class="logo">
	            <img src="/assets/images/logo.png" alt="logo" />
	        </a>
	        <h1>Level {{levelNo}}</h1>
	        <h1 class="timer">{{secondsTimer}}</h1>
	    </div>
	</header>

	<!-- Creates properly sized div "tiles" to cover a 480 by 480 px image -->
	<div class="max-container">
		<div class="main-image" ng-model="mainImage" style="background-image: url('assets/images/{{mainImg}}')">
			<div class="col" ng-init="xIndex = $index"  ng-repeat="x in range(columns) track by $index">
				<div class="tile" id = "{{ ::createTile(xIndex, yIndex) }}" ng-init="yIndex = $index"
					 ng-repeat="y in range(rows) track by $index"
					 ng-style="{width: {{tileWidth}} + 'px', height: {{tileHeight}} + 'px'}">
					<!--inside tile, left empty-->
				</div>
			</div>
		</div>

        <!--Images to load go down here-->
        <div>
        	<h1 class="gameStats">{{ guessCount }} Guesses <span class="category">{{ category }}</span></h1>
            <img class="guessableImg" ng-click= "guess(img1)" ng-model="guessImg1" ng-src="/assets/images/{{img1}}">
            <img class="guessableImg" ng-click= "guess(img2)" ng-model="guessImg2" ng-src="/assets/images/{{img2}}">
            <img class="guessableImg" ng-click= "guess(img3)" ng-model="guessImg3" ng-src="/assets/images/{{img3}}">
            <img class="guessableImg" ng-click= "guess(img4)" ng-model="guessImg4" ng-src="/assets/images/{{img4}}">
            <img class="guessableImg" ng-click= "guess(img5)" ng-model="guessImg5" ng-src="/assets/images/{{img5}}">
            <img class="guessableImg" ng-click= "guess(img6)" ng-model="guessImg6" ng-src="/assets/images/{{img6}}">
            <img class="guessableImg" ng-click= "guess(img7)" ng-model="guessImg7" ng-src="/assets/images/{{img7}}">
            <img class="guessableImg" ng-click= "guess(img8)" ng-model="guessImg8" ng-src="/assets/images/{{img8}}">
        </div>



	</div>

    <div class="popup" id="popup" ng-model="popup">
        <div class="max-container">
            <p class="winMsg">{{winMsg}}</p>
            <p class="timeMsg">
                Total Time:
                <span class="timerMsg">{{timeMsg}}</span>
            </p>
            <p class="winCount">{{winCountMsg}}</p>
            <p class="loseCount">{{loseCountMsg}}</p>
        </div>
        <a class="btnNextLevel btn orange" id="btnNextLevel" ng-click="hidePopUp()">Next Level <i class="icon-play3"></i></a>
        <a class="btnStageComplete btn orange" id="btnComplete" href="/index.html">Main Menu <i class="icon-play3"></i></a>
    </div>
	

</div>


	        <footer>

	        </footer>

	    <!--<script src="assets/vendor/jquery-2.1.min.js"></script>-->
	    <script src="assets/js/main.js"></script>
    </body>
</html>

