<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" ng-app="PlaneBox"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" ng-app="PlaneBox"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Plane Box</title>

    <script src="https://use.typekit.net/vry0hwc.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" media="screen" />

    <script src="assets/vendor/geolocator.js"></script>
    <script src="assets/vendor/angular-1.4.7.min.js"></script>
    <script type="text/javascript">
        var PlaneBox = angular.module('PlaneBox', []);
        window.data = {};
        window.data.apiURL = 'http://api-planebox.fredlawl.com';
        window.data.geoData = '';
    </script>
</head>

<body class="page-forgot-password">


<header class="app-header">
    <div class="max-container">
        <a href="/" class="logo">
            <img src="assets/images/logo.png" alt="logo" />
        </a>
        <h1>Reset Password</h1>
    </div>
</header>


<!--Apply angular app and controller to this page-->
<div ng-controller="passwordController" class="max-container password-reset-page login-container">

	<form name="frmPasswordReset" ng-submit="resetPassword()" novalidate><!--don't let HTML validate. We'll take care of that.-->

        <div>
            <label>Email Address</label>
            <input type="email" name="email" class="form-control" ng-model="email" required>
            <p ng-show="frmPasswordReset.email.$invalid && !frmPasswordReset.email.$pristine" class="show-err">Enter a valid email address.</p>
        </div>
        <div>
            <label>Token</label>
            <input type="token" name="token" ng-model="token" class="form-control" required/>
            <p ng-show="frmPasswordReset.token.$error.minlength" class="show-err">You must enter the token.</p>
        </div>
        <div>
            <label>New Password</label>
            <input type="password" name="password" ng-model="password" ng-minlength="6" class="form-control" required/>
            <p ng-show="password.$error.minlength" class="show-err">Password must be 6 characters long.</p>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" name="confirmPw" ng-model="confirmPw" ng-match="password" class="form-control" required/>
            <p ng-show="password != confirmPw" class="show-err">Passwords do not match.</p>
        </div>
			
		<div class = "form-action">
            <button class="btn orange" ng-disabled="(password != confirmPw)">Reset Password</button>
		</div>
	</form>

</div>

	        <footer>

	        </footer>

	    <!--<script src="assets/vendor/jquery-2.1.min.js"></script>-->
	    <script src="assets/js/main.js"></script>
    </body>
</html>

