
body{
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.row {
    text-align: center;
}

.header{
    color: white;
}

.header > h1 {
    font-size: 4em;
}

li {
    margin-top: 20px;
}
